html,
body {
  width: 100vw;
  overflow-x: hidden;
}

.card {
  transform: scale(1);
  transition: transform 200ms;
}

.card:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

code a {
  color: white;
  border-bottom: 1px solid white;
}
